[submodule "lib/multirotor_sim"]
	path = lib/multirotor_sim
	url = git@github.com:superjax/multirotor_sim
[submodule "lib/geometry"]
	path = lib/geometry
	url = git@github.com:superjax/geometry
[submodule "lib/gnss_utils"]
	path = lib/gnss_utils
	url = git@github.com:superjax/gnss_utils
